@import url("https://fonts.googleapis.com/css2?family=Acme&family=Baloo+2&family=Bungee+Spice&family=Fredoka+One&family=Permanent+Marker&display=swap");

.row {
  margin-top: 100px;
}

h1 {
  margin-top: 10px;
  font-family: "Bungee Spice", cursive;
}
p {
  text-transform: capitalize;
  text-align: justify;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.misi {
  margin-top: -120px;
  margin-left: -50px;
}

.misis {
  margin-top: -97px;
}

.misia {
  margin-top: -70px;
  margin-left: -50px;
}

.misiss {
  margin-top: -50px;
}
